html {
    font-size: 14px;
}

@media screen and (min-width: 576px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 28px;
    }
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
}

footer {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    bottom: 1%;
}

#titleContainer {
    margin: 0px;
    height: 30%;
}

#sb-title {
    font-size: 25px;
    top: 53%;
}

#sb-subtitle {
    font-size: 20px;
    top: 75%;
}

#sb-avatar {
    top: 5%;
    overflow: visible;
}

#sb-arrow {
    right: 200%;
}

#aboutus-card {
    height: 100%;
}

#cards {
    margin: auto;
    width: 120%;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7,
#card8 {
    display: inline-block;
    *display: inline;
}